<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head.ejs %>
  <title>Dashboard</title>
</head>

<body>
  <header>
    <% include ../partials/header.ejs %>
  </header>
  <main>
    <p>Welcome <%= userName %>!</p>
    <p>Please select your next task</p>
    <a href="/start_count">Start a new count</a>
  </main>
  <% include ../partials/footer.ejs %>
</body>
</html>
<img src="" alt="">