<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head.ejs %>
  <title>Dashboard</title>
</head>

<body>
  <header>
    <% include ../partials/header.ejs %>
  </header>
  <main>
    <p>Welcome <%= userName %>!</p>
    <p>Please select your next task:</p>
    <div class="button-box">
      <a href="/reconcile">Monitor and reconcile the inventory count</a>
    </div>
    <div class="button-box">
      <a href="/users">Manage users</a>
    </div>
  </main>
  <% include ../partials/footer.ejs %>
</body>
</html>
<img src="" alt="">
